<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Houses - Add student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/addStudent.css}" rel="stylesheet"/>
</head>
<body>
<div id="navigation">
    <p><a href="/" methods="GET">Home</a></p>
    <p><a href="/rooms" methods="GET">Rooms</a></p>
    <p><a href="/rooms/available" methods="GET">Available rooms</a></p>
    <p><a href="/rooms/rat-owner" methods="GET">Rooms safe for rat owners</a></p>
    <p><a href="/rooms/add" methods="GET">Add room</a></p>
    <p><a href="/students" methods="GET">Students</a></p>
    <p><a href="/students/add" methods="GET">Add student</a></p>
    <p><a href="/potions" methods="GET">Potions</a></p>
    <p><a href="/potions/brew" methods="GET">Brew potion</a></p>
</div>
<h1 id="mainHeader">Welcome to Hogwart Houses</h1>
<div id="newStudentForm">
    <form action="#" th:action="@{/student/add}" th:object="${newStudentModel}" method="post">
        <table id="newStudentFormTable">
            <tr>
                <td>
                    <label class="required" for="name">Name: </label>
                </td>
                <td>
                    <input type="text" id="name" name="name" th:field="*{name}" placeholder="John Doe"
                           th:required="true">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="required" for="pet">Pet: </label>
                </td>
                <td>
                    <select name="pet" id="pet" th:field="*{petType}" th:required="true">
                        <option th:value="${null}" selected hidden></option>
                        <option th:each="petType : ${petTypes}"
                                th:text="${petType}"
                                th:value="${petType}">
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="required" for="house">House:</label>
                <td>
                    <select name="house" id="house" th:field="*{houseType}" th:required="true">
                        <option th:value="${null}" selected hidden></option>
                        <option th:each="houseType : ${houseTypes}"
                                th:text="${houseType}"
                                th:value="${houseType}">
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tableButtons"><input type="submit" value="Add student"></td>
                <td class="tableButtons"><input type="reset" value="Reset"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
