<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Houses - Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/showRooms.css}" rel="stylesheet"/>
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<h1><a href="/">Welcome to Hogwart Houses</a></h1>
<h4><a href="/students">Students</a></h4>
<div>
    <form action="#" th:action="@{/student/add}" th:object="${newStudentModel}" method="post">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" th:field="*{name}" placeholder="John Doe"><br>

        <label for="pet">Pet: </label>
        <select name="pet" id="pet" th:field="*{petType}">
            <option th:each="petType : ${petTypes}"
                    th:text="${petType}"
                    th:value="${petType}">
        </select><br>

        <label for="house">House:</label>
        <select name="house" id="house" th:field="*{houseType}">
            <option th:each="houseType : ${houseTypes}"
                    th:text="${houseType}"
                    th:value="${houseType}">
        </select><br>

        <input type="submit" value="Add student">
        <input type="reset" value="Reset" />
    </form>
</div>
</body>
</html>
