<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Houses - Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/assignStudentToRoom.css}" rel="stylesheet"/>
</head>
<body>
<div id="navigation">
    <p><a href="/" methods="GET">Home</a></p>
    <p><a href="/students" methods="GET">Students</a></p>
</div>
<h1 id="mainHeader">Welcome to Hogwart Houses</h1>
<div id="studentAssign">
    <form action="#" th:action="@{/students/{studentId}/assignStudentToRoom (studentId=${student.id})}" method="get">
        <label for="roomId">Select a room: </label>
        <select name="roomId" id="roomId">
            <option th:each="room : ${rooms}"
                    th:text="${room.id}"
                    th:value="${room.id}">
        </select>
        <input type="submit" value="Assign">
    </form>
</div>

</body>
</html>
