<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hogwarts Houses - Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/showRooms.css}" rel="stylesheet"/>
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<h1><a href="/">Welcome to Hogwart Houses</a></h1>
<h4><a href="/students">Students</a></h4>

<div>
    <form action="#" th:action="@{/students/{studentId}/assignStudentToRoom (studentId=${student.id})}" method="get">
        <label for="roomId">Select a room: </label>
        <select name="roomId" id="roomId">
            <option th:each="room : ${rooms}"
                    th:text="${room.id}"
                    th:value="${room.id}">
        </select>
        <input type="submit" value="Assign">
    </form>
</div>

</body>
</html>
