<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Houses - Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/showRooms.css}" rel="stylesheet"/>
</head>
<body>
<div id="navigation">
    <p><a href="/" methods="GET">Home</a></p>
    <p><a href="/rooms" methods="GET">Rooms</a></p>
    <p><a href="/rooms/available" methods="GET">Available rooms</a></p>
    <p><a href="/rooms/rat-owner" methods="GET">Rooms safe for rat owners</a></p>
    <p><a href="/rooms/add" methods="GET">Add room</a></p>
</div>
<h1 id="mainHeader">Welcome to Hogwart Houses</h1>
<div>
    <ul th:each="room: ${rooms}">
        <li th:if="${room.resident != null}">
            <span th:text="'Room'"></span>
            <a th:href="@{/rooms/{id}(id=${room.id})}" th:text="'#' + ${room.id}"></a>
            <span th:text="' owned by ' + ${room.resident}"></span>
        </li>
        <li th:unless="${room.resident != null}">
            <span th:text="'Room'"></span>
            <a th:href="@{/rooms/{id}(id=${room.id})}" th:text="'#' + ${room.id}"></a>
            <span th:text="' is empty'"></span>
        </li>
    </ul>
</div>
</body>
</html>
