<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Houses - Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/showAvailableRooms.css}" rel="stylesheet"/>
</head>
<body>
<div id="navigation">
    <p><a href="/" methods="GET">Home</a></p>
    <p><a href="/rooms" methods="GET">Rooms</a></p>
    <p><a href="/rooms/available" methods="GET">Available rooms</a></p>
    <p><a href="/rooms/rat-owner" methods="GET">Rooms safe for rat owners</a></p>
    <form action="/rooms" method="post">
        <p><input id="addBtn" type="submit" value="Add room"></p>
    </form>
</div>
<h1 id="mainHeader">Welcome to Hogwart Houses</h1>
<div>
    <ul th:each="room: ${rooms}">
        <li th:text="'Room #' + ${room.id}"></li>
    </ul>
</div>
</body>
</html>
