<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Houses - Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/showRooms.css}" rel="stylesheet"/>
</head>
<body>
<div id="navigation">
    <p><a href="/" methods="GET">Home</a></p>
</div>
<h1 id="mainHeader">Welcome to Hogwart Houses</h1>
<div>
    <ul th:each="potion: ${potions}">
        <li>
            <span th:text="'Potion'"></span>
            <a th:href="@{/potions/{id}(id=${potion.id})}" th:text="'#' + ${potion.id} + ','"></a>
            <span th:text="'name: ' + ${potion.name}"></span>
        </li>
    </ul>
</div>
</body>
</html>
