<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Houses - Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/showStudent.css}" rel="stylesheet"/>
</head>
<body>
<div id="navigation">
    <p><a href="/" methods="GET">Home</a></p>
    <p><a href="/students" methods="GET">Students</a></p>
    <p><a href="/students/add" methods="GET">Add student</a></p>
</div>
<h1 id="mainHeader">Welcome to Hogwart Houses</h1>
<div id="studentActionHolder" th:if="${student.roomId} < 0">
    <a th:href="@{/students/{id}/assignToRoom (id=${student.id})}" th:text="'Assign to room'"></a>
</div>
<div id="studentDetails">
    <table id="studentDetailsTable">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Room Num</th>
            <th>Pet</th>
            <th>House</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td>
                <span th:if="${student.roomId < 0}" th:text="'N/A'"></span>
                <span th:unless="${student.roomId < 0}" th:text="${student.roomId}"></span>
            </td>
            <td th:text="${student.petType}"></td>
            <td th:text="${student.houseType}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
