<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Houses - Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/showRooms.css}" rel="stylesheet"/>
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<h1><a href="/">Welcome to Hogwart Houses</a></h1>
<div>
    <l th:each="room: ${rooms}">
        <li th:if="${room.resident != ''}">
            <span th:text="'Room #'"></span>
            <a th:href="@{/rooms/{id}(id=${room.id})}" th:text="${room.id}"></a>
            <span th:text="' owned by ' + ${room.resident}"></span>
        </li>
        <li th:unless="${room.resident != ''}">
            <span th:text="'Room #'"></span>
            <a th:href="@{/rooms/{id}(id=${room.id})}" th:text="${room.id}"></a>
            <span th:text="' is empty'"></span>
        </li>
    </l>
</div>
</body>
</html>
