<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Houses - Show available rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/showAvailableRooms.css}" rel="stylesheet"/>
</head>
<body>
<div id="navigation">
    <p><a href="/" methods="GET">Home</a></p>
    <p><a href="/rooms" methods="GET">Rooms</a></p>
    <p><a href="/rooms/available" methods="GET">Available rooms</a></p>
    <p><a href="/rooms/rat-owner" methods="GET">Rooms safe for rat owners</a></p>
    <p><a href="/rooms/add" methods="GET">Add room</a></p>
    <p><a href="/students" methods="GET">Students</a></p>
    <p><a href="/students/add" methods="GET">Add student</a></p>
    <p><a href="/potions" methods="GET">Potions</a></p>
    <p><a href="/potions/brew" methods="GET">Brew potion</a></p>
</div>
<h1 id="mainHeader">Welcome to Hogwart Houses</h1>
<div>
    <ul th:each="room: ${rooms}">
        <li>
            <span th:text="'Room'"></span>
            <a th:title="'Show room details'" th:href="@{/rooms/{id}(id=${room.id})}" th:text="'#' + ${room.id}"></a>
            <span th:text="' has ' + ${room.availableBedNum} + ' free bed(s)'"></span>
        </li>
    </ul>
</div>
</body>
</html>
