<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Houses - Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/showRoom.css}" rel="stylesheet"/>
</head>
<body>
<div id="navigation">
    <p><a href="/" methods="GET">Home</a></p>
    <p><a href="/rooms" methods="GET">Rooms</a></p>
    <p><a href="/rooms/available" methods="GET">Available rooms</a></p>
    <p><a href="/rooms/rat-owner" methods="GET">Rooms safe for rat owners</a></p>
    <form action="/rooms" method="post">
        <p><input id="addBtn" type="submit" value="Add room"></p>
    </form>
</div>
<h1 id="mainHeader">Welcome to Hogwart Houses</h1>
<div id="roomActionHolder">
    <form action="#" th:action="@{/rooms/delete/{id}(id=${room.id})}" th:method="get">
        <p><input id="removeBtn" type="submit" value="Remove room"></p>
    </form>
    <div th:if="${room.needsRenovation}">
        <form action="#" th:action="@{/rooms/put/{id}(id=${room.id})}" th:method="get">
            <p><input id="renovateBtn" type="submit" value="Renovate room"></p>
        </form>
    </div>
</div>
<div id="roomDetails">
    <table id="roomDetailsTable">
        <thead>
        <tr>
            <th>Number</th>
            <th>Needs renovation</th>
            <th>Resident</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${room.id}"></td>
            <td th:text="${room.needsRenovation} ? 'yes' : 'no'"></td>
            <td th:text="${room.resident} ? ${room.resident} : '-'"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
