<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Houses - Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/showStudents.css}" rel="stylesheet"/>
</head>
<body>
<div id="navigation">
    <p><a href="/" methods="GET">Home</a></p>
    <p><a href="/students" methods="GET">Students</a></p>
    <p><a href="/students/add" methods="GET">Add student</a></p>
</div>
<h1 id="mainHeader">Welcome to Hogwart Houses</h1>
<div>
    <ul th:each="student: ${students}">
        <li>
            <span th:text="'Student'"></span>
            <a th:href="@{/students/{id}(id=${student.id})}" th:text="'#' + ${student.id} + ','"></a>
            <span th:text="'name: ' + ${student.name}"></span>
        </li>
    </ul>
</div>
</body>
</html>
