<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hogwarts Houses - Update potion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/brewPotion.css}" rel="stylesheet"/>
</head>
<body>
<div id="navigation">
    <p><a href="/" methods="GET">Home</a></p>
    <p><a href="/rooms" methods="GET">Rooms</a></p>
    <p><a href="/rooms/available" methods="GET">Available rooms</a></p>
    <p><a href="/rooms/rat-owner" methods="GET">Rooms safe for rat owners</a></p>
    <p><a href="/rooms/add" methods="GET">Add room</a></p>
    <p><a href="/students" methods="GET">Students</a></p>
    <p><a href="/students/add" methods="GET">Add student</a></p>
    <p><a href="/potions" methods="GET">Potions</a></p>
    <p><a href="/potions/brew" methods="GET">Brew potion</a></p>
</div>
<h1 id="mainHeader">Welcome to Hogwart Houses</h1>
<div>
    <span id="ingredientsInStorage">
        <p class="allIngredients" th:text="'Ingredients in storage:'"></p>
        <p class="allIngredients" th:text="${ingredients}"></p>
    </span>
</div>
<div id="brewPotionForm">
    <form action="#" th:action="@{/potions}" th:object="${brewPotionModel}" method="post">
        <label for="id"></label><input type="text" id="id" name="id" th:readonly="true" th:value="${potion.id}"
                                       th:hidden="true">
        <table id="brewPotionTable">
            <tr>
                <td>
                    <label class="required" for="potionName">Potion name: </label>
                </td>
                <td>
                    <input type="text" id="potionName" name="potionName" th:readonly="true" th:value="${potion.name}">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="required" for="studentId">Potion of: </label>
                </td>
                <td>
                    <input type="text" id="studentId" name="studentId" th:readonly="true" th:value="${student.id}"
                           th:hidden="true">
                    <label>
                        <input type="text" th:readonly="true" th:value="${student.name}">
                    </label>
                </td>
            </tr>
            <tr>
                <td th:rowspan="${maxIngredients + 1}">
                    <label class="required" for="ingredients">Ingredients: </label>
                </td>
            </tr>
            <tr th:each="i: ${#numbers.sequence(0, maxIngredients - 1)}" th:field="*{ingredients}">
                <td>
                    <input th:if="${potion.ingredients.size() > i}" id="ingredients" name="ingredients" type="text"
                           th:value="${potion.ingredients[i].name}">
                    <input th:unless="${potion.ingredients.size() > i}" name="ingredients" type="text"
                           th:placeholder="${i + 1} + '. ingredient'">
                </td>
            </tr>
            <tr>
                <td class="tableButtons"><input type="submit" value="Brew potion"></td>
                <td class="tableButtons"><input type="reset" value="Reset"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
